<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>A)</title>
</head>
<body>
  <section class="section-transparencia">
    <div class="informacion-section">Artículo 10 <br>O) Acciones, Controversias o Juicios</div>
    {% for i in data.year %}
      <div class="years">
        ¿¿ i ??
      </div>
      <div class="datos-trans">
        
        {% for s in data.pr %}
          {% if s.year == i %}
            <p class="datos-respuesta">
              ¿¿ s.trimestre ??
            </p>
            {% if s.lugar == '' %}
            <div class="links">
              ¿¿ s.nombre ??
            </div>
            {% else %}
            <div class="links">
              <a href="archivos/archivospdf/¿¿ s.nombre ??">¿¿ s.nombre ??</a>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% for s in data.se %}
          {% if s.year == i %}
            <p class="datos-respuesta">
              ¿¿ s.trimestre ??
            </p>
            {% if s.lugar == '' %}
            <div class="links">
              ¿¿ s.nombre ??
            </div>
            {% else %}
            <div class="links">
              <a href="archivos/archivospdf/¿¿ s.nombre ??">¿¿ s.nombre ??</a>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% for s in data.te %}
          {% if s.year == i %}
            <p class="datos-respuesta">
              ¿¿ s.trimestre ??
            </p>
            {% if s.lugar == '' %}
            <div class="links">
              ¿¿ s.nombre ??
            </div>
            {% else %}
            <div class="links">
              <a href="archivos/archivospdf/¿¿ s.nombre ??">¿¿ s.nombre ??</a>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% for s in data.cu %}
          {% if s.year == i %}
            <p class="datos-respuesta">
              ¿¿ s.trimestre ??
            </p>
            {% if s.lugar == '' %}
            <div class="links">
              ¿¿ s.nombre ??
            </div>
            {% else %}
            <div class="links">
              <a href="archivos/archivospdf/¿¿ s.nombre ??">¿¿ s.nombre ??</a>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </section>
</body>
</html>
