.articulo-direst
  display flex
  display -webkit-flex
  display -moz-flex
  display -o-flex
  justify-content center
  -webkit-justify-content center
  -moz-justify-content center
  -o-justify-content center
  flex-direction row
  -webkit-flex-direction row
  -moz-flex-direction row
  -o-flex-direction row
  align-items center
  padding 1em 0em
  background #F3F3F3
  border-box box-sizing  
  width 100%
  .articulos-contenido-direst
    width 100%
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    flex-direction column 
    -webkit-flex-direction column 
    -moz-flex-direction column 
    -o-flex-direction column
    justify-content center
    -webkit-justify-content center
    -moz-justify-content center
    -o-justify-content center
    .dir-titulo
      width 100%
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      justify-content center
      -webkit-justify-content center
      -moz-justify-content center
      -o-justify-content center
      margin-top 0
      .contenido-historia
        width 70%
        margin 0
        text-align center
        border .1em solid #EAEAEA
        border-radius .2em
        padding 0em
        background #fff
        //box-shadow .2em .2em 1em #000
        font-family 'AvenirLTStd-Medium'
        color rgb(102, 102, 102)
        text-shadow 0em 0em 0em #000

    .dir-estatal
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      justify-content center  
      -webkit-justify-content center  
      -moz-justify-content center  
      -o-justify-content center  
      .contenido-dir-estatal-top
        display flex
        display -webkit-flex
        display -moz-flex
        display -o-flex
        flex-direction column
        -webkit-flex-direction column
        -moz-flex-direction column
        -o-flex-direction column
        align-items center
        -webkit-align-items center
        -moz-align-items center
        -o-align-items center
        width 18%
        margin-top 1em
        text-align center
        border .1em solid #EAEAEA
        border-radius .4em
        padding .1em .5em
        background #fff
        //box-shadow .2em .2em 1em #000
        font-family 'AvenirLTStd-Medium'
        color rgb(102, 102, 102)
        text-shadow 0em 0em 0em #000
        img
          width 80%
          height 150px
        p
          margin 5px auto
          color rgb(102, 102, 102)
          font-size .9em
        .informacion
          margin-top .1em
          color convergencia
    .dir-demas
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      justify-content space-around
      -webkit-justify-content space-around
      -moz-justify-content space-around
      -o-justify-content space-around
      width 100%
      .contenido-dir-estatal-top
        display flex
        display -webkit-flex
        display -moz-flex
        display -o-flex
        flex-direction column
        -webkit-flex-direction column
        -moz-flex-direction column
        -o-flex-direction column
        align-items center
        -webkit-align-items center
        -moz-align-items center
        -o-align-items center
        width 18%
        margin-top 1em
        text-align center
        border .1em solid #EAEAEA
        border-radius .4em
        padding .1em .5em
        background #fff
        //box-shadow .2em .2em 1em #000
        font-family 'AvenirLTStd-Medium'
        color rgb(102, 102, 102)
        text-shadow 0em 0em 0em #000
        img
          width 80%
          height 150px
        p
          margin 5px auto
          color rgb(102, 102, 102)
          font-size .9em
        .informacion
          margin-top .1em
          color convergencia
          
@media (max-width: 800px)
  .articulo-direst
    .articulos-contenido-direst
      .dir-titulo
        .contenido-historia
          width 90%
      .dir-estatal
        width 100% 
        .contenido-dir-estatal-top
          width 60%
          margin-top 1em
          text-align center
          border .1em solid #EAEAEA
          border-radius .4em
          padding .1em .5em
          background #fff
          //box-shadow .2em .2em 1em #000
          font-family 'AvenirLTStd-Medium'
          color rgb(102, 102, 102)
          text-shadow 0em 0em 0em #000
          img
            width 80%
            height 270px
          p
            margin 5px auto
            color rgb(102, 102, 102)
            font-size .9em
          .informacion
            margin-top .1em
            color convergencia
      .dir-demas
        display flex
        flex-direction column
        align-items center
        .contenido-dir-estatal-top
          width 60%
          margin-top 1em
          text-align center
          border .1em solid #EAEAEA
          border-radius .4em
          padding .1em .5em
          background #fff
          //box-shadow .2em .2em 1em #000
          font-family 'AvenirLTStd-Medium'
          color rgb(102, 102, 102)
          text-shadow 0em 0em 0em #000
          img
            width 80%
            height 270px
          p
            margin 5px auto
            color rgb(102, 102, 102)
            font-size .9em
          .informacion
            margin-top .1em
            color convergencia

@media (max-width: 600px)
  .articulo-direst
    .articulos-contenido-direst
      .dir-titulo
        .contenido-historia
          width 90%
      .dir-estatal
        width 100% 
        .contenido-dir-estatal-top
          width 70%
          margin-top 1em
          text-align center
          border .1em solid #EAEAEA
          border-radius .4em
          padding .1em .5em
          background #fff
          //box-shadow .2em .2em 1em #000
          font-family 'AvenirLTStd-Medium'
          color rgb(102, 102, 102)
          text-shadow 0em 0em 0em #000
          img
            width 80%
            height 150px
          p
            margin 5px auto
            color rgb(102, 102, 102)
            font-size .9em
          .informacion
            margin-top .1em
            color convergencia
      .dir-demas
        display flex
        flex-direction column
        align-items center
        .contenido-dir-estatal-top
          width 70%
          margin-top 1em
          text-align center
          border .1em solid #EAEAEA
          border-radius .4em
          padding .1em .5em
          background #fff
          //box-shadow .2em .2em 1em #000
          font-family 'AvenirLTStd-Medium'
          color rgb(102, 102, 102)
          text-shadow 0em 0em 0em #000
          img
            width 80%
            height 150px
          p
            margin 5px auto
            color rgb(102, 102, 102)
            font-size .9em
          .informacion
            margin-top .1em
            color convergencia











