.img-conver
  width 100%
  margin-top .5em
  display flex
  display -webkit-flex
  display -moz-flex
  display -o-flex
  flex-direction column
  -webkit-flex-direction column
  -moz-flex-direction column
  -o-flex-direction column
  justify-content center
  -webkit-justify-content center
  -moz-justify-content center
  -o-justify-content center
  align-items center
  -webkit-align-items center
  -moz-align-items center
  -o-align-items center
  margin-bottom .5em
  .img-conver-im
    border-radius .3em
    border .5em solid
    border-color bordes
    width 90%
    height 90%
  .difuminado
    width 92%
    background rgba(0,0,0,0.2)
    position absolute
    left 4%
    height 100%
    border-radius .3em
  h1
    color fondos
    font-family 'AvenirLTStd-Medium'
    text-shadow rgba(0, 0, 0, .5) 2px 2px 5px
    font-size 2.5em
    text-align center
  

.secciones-entrada
  width 100%
  display flex
  display -webkit-flex
  display -moz-flex
  display -o-flex
  justify-content space-around
  -webkit-justify-content space-around
  -moz-justify-content space-around
  -o-justify-content space-around
  flex-direction row
  -webkit-flex-direction row
  -moz-flex-direction row
  -o-flex-direction row
  .lista-secciones
    width 100%
    margin 0
    padding 1em 0em 0em 0em
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    justify-content space-around
    -webkit-justify-content space-around
    -moz-justify-content space-around
    -o-justify-content space-around
    border-top .1em solid rgba(51,59,64,0.3)
    .item-secciones
      width 22%
      list-style none
      transition all 2s ease
      -webkit-transition all 2s ease
      -moz-transition all 2s ease
      -o-transition all 2s ease
      transform perspective(600px)
      -webkit-transform perspective(600px)
      -moz-transform perspective(600px)
      -o-transform perspective(600px)
      transform-origin 100% 50%
      -webkit-transform-origin 100% 50%
      -moz-transform-origin 100% 50%
      -o-transform-origin 100% 50%
      transform-style preserve-3d
      -webkit-transform-style preserve-3d
      -moz-transform-style preserve-3d
      -o-transform-style preserve-3d
      &:hover
        transform perspective(600px) rotateY(-180deg) translateX(100%)
        -webkit-transform perspective(600px) rotateY(-180deg) translateX(100%)
        -moz-transform perspective(600px) rotateY(-180deg) translateX(100%)
        -o-transform perspective(600px) rotateY(-180deg) translateX(100%)
      a
        text-decoration none
        outline 0
        color fondos
        font-size .8em
        //font-weight 400
        text-align justify
        img
          border .5em solid rgba(51,59,64,0.3)
          border-radius .2em
          margin .5em
          width 90%
        .imagen-muestra-cara
        .texto-trasero
          backface-visibility hidden
        .texto-trasero
          padding .5em
          word-wrap break-word
          position absolute
          -webkit-transform rotateY(-180deg)
          -moz-transform rotateY(-180deg)
          -o-transform rotateY(-180deg)
          transform rotateY(-180deg)
          -webkit-transform rotateY(-180deg)
          -moz-transform rotateY(-180deg)
          -o-transform rotateY(-180deg)
          background bordes
          top 0%
          width 90%
          height 90%
          border .5em solid rgba(51,59,64,0.3)
          border-radius .2em
          overflow auto
          font-family AvenirLTStd-Medium
.redes-timeline
  width 100%
  margin-top 2em
  .redes-cel
    width 100%
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    justify-content space-around
    -webkit-justify-content space-around
    -moz-justify-content space-around
    -o-justify-content space-around
    background convergencia
    padding 1em 0em
    .twitter-entrada
      width 45%
    .facebook-entrada
      width 45%
    .fb-page
      width 45%
      display none
      
@media (max-width: 1000px)
  .redes-timeline
    .redes-cel
      .facebook-entrada
        .facebook-t 
          width 400px
          margin-left 0
        
@media (max-width: 850px)

  .redes-timeline
    width 100%
    margin 0
    margin-top 2em
    .redes-cel
      width 100%
      display flex
      display -webkit-flex
      display -moz-flex
      display -o-flex
      flex-direction column
      -webkit-flex-direction column
      -moz-flex-direction column
      -o-flex-direction column
      justify-content center
      -webkit-justify-content center
      -moz-justify-content center
      -o-justify-content center
      align-items center
      background convergencia
      padding 1em 0em
      
      .twitter-entrada
        width 80%
      .facebook-entrada
        width 80%
        margin-top 1em
       

@media (max-width: 500px)

  .img-conver
    height 200px
    padding 0
    .img-conver-im
      width 98%
    h1
      font-size 1.5em
  .redes-timeline
    width 100%
    background convergencia
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    justify-content center
    -webkit-justify-content center
    -moz-justify-content center
    -o-justify-content center
    align-items center
    -webkit-align-items center
    -moz-align-items center
    -o-align-items center
    padding 0
    .redes-cel
      width 80%
      flex-direction column
      -webkit-flex-direction column
      -moz-flex-direction column
      -o-flex-direction column
      justify-content center
      -webkit-justify-content center
      -moz-justify-content center
      -o-justify-content center
      .twitter-entrada
        width 90%
      .facebook-entrada
        .facebook-t
          display none
  .secciones-entrada
    display none
    

















