@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);
@font-face
  font-family 'AvenirLTStd-Medium'
  src url('../fonts/AvenirLTStd-Medium.woff')

@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?av6o1z')
  src url('../fonts/icomoon.eot?av6o1z#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?av6o1z') format('truetype'),
        url('../fonts/icomoon.woff?av6o1z') format('woff'),
        url('../fonts/icomoon.svg?av6o1z#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-menu
  &:before
    content "\e903"

.icon-facebook
  &:before
    content "\e900"

.icon-twitter
  &:before
    content "\e901"
