.articulo-historia
  display flex
  display -webkit-flex
  display -moz-flex
  display -o-flex
  justify-content center
  -webkit-justify-content center
  -moz-justify-content center
  -o-justify-content center
  flex-direction row
  -webkit-flex-direction row
  -moz-flex-direction row
  -o-flex-direction row
  padding 1em 0em
  background #F3F3F3
  .articulos-contenido
    width 60%
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    flex-direction column
    -webkit-flex-direction column
    -moz-flex-direction column
    -o-flex-direction column
    .contenido-historia
      width 90%
      text-align justify
      border .1em solid #EAEAEA
      border-radius .2em
      padding 0em 1em
      background #fff
      //box-shadow .2em .2em 1em #000
      font-family 'AvenirLTStd-Medium'
      color rgb(102, 102, 102)
      text-shadow 0em 0em 0em #000
      h2
        margin 1em 0em .2em 0em
        font-weight bold
        text-align  center
      .dir-title
        text-align center
      p
        font-size 1em
        margin 0em
        font-weight 300
        color rgba(0,0,0,.1)
        white-space pre-line
        &:last-child
          padding 0em 0em .8em 0em
        a
          color convergencia
      .reglamentos
        font-weight gold
        font-size 1.1em
    .pdf
      height 500px
      padding-bottom 1em
    .pdfp
      height 750px
      padding-bottom 1em
    .mar
      margin-top 1em

.opciones-sectores
  margin 0em 0em 0em .7em
  .lista-sectores-historia
    margin 0
    padding 0
    list-style none
    .lista-items-historia
      margin .5em 0em
      border .1em solid #eaeaea 
      border-radius .2em
      a
        outline 0
        img
          width 100%
          border-radius .2em
    .titulo-historia-item
      text-align center
      color #888888
      font-size 1.2em
      font-family 'Roboto'
      padding 0em 0em .5em 0em
      border 0

@media (max-width: 800px)
  .articulo-historia
    width 100%
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    flex-direction column
    -webkit-flex-direction column
    -moz-flex-direction column
    -o-flex-direction column
    align-items center
    -webkit-align-items center
    -moz-align-items center
    -o-align-items center
    justify-content center
    -webkit-justify-content center
    -moz-justify-content center
    -o-justify-content center
    .articulos-contenido
      width 90%
      .contenido-historia
        iframe
          height 800px
      .doc-bas
        height 800px
      .operativa
        height 700px
        background #F3F3F3
    .opciones-sectores
      width 90%
      .lista-sectores-historia
        width 100%
        display flex
        display -webkit-flex
        display -moz-flex
        display -o-flex
        justify-content space-around
        .lista-items-historia
          width 22%
        .titulo-historia-item
          display none
      
@media (max-width: 600px)
  .articulo-historia
    width 100%
    display flex
    display -webkit-flex
    display -moz-flex
    display -o-flex
    justify-content center
    -webkit-justify-content center
    -moz-justify-content center
    -o-justify-content center
    .articulos-contenido
      width 90%
    .opciones-sectores
      display none








