{% extends 'layout.html' %}

{% block title %}
  Comisión Operativa Nacional
{% endblock %}

{% block head %}
  {% parent %}
    <script>
      localStorage['lugar'] = 'nacional';
    </script>
{% endblock %}

{% block content %}
  <section class="articulo-historia">
    <section class="articulos-contenido">
      <article class="contenido-historia">
        <h2>
          COMISIÓN OPERATIVA NACIONAL
        </h2>
        <p>
          Se integra por nueve miembros y será elegida de entre los integrantes de la Coordinadora Ciudadano Nacional. Son atribuciones y facultades de la Comisión Operativa Nacional:   Ejercer las representación política y legal de Movimiento Ciudadano en todo tipo de asuntos de carácter judicial, político, electoral, administrativo, patrimonial y para delegar poderes y/o establecer convenios en los marcos de la legislación vigente.
        </p>
      </article>      
      <article class="contenido-historia operativa">
      </article>
    </section>
    <aside class="opciones-sectores">
      <ul class="lista-sectores-historia">
        <li class="lista-items-historia titulo-historia-item">Movimientos</li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://diputadosciudadanos.mx">
            <img class="imagen-muestra-cara" src="../img/DiputadosCiudadanos-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://jovenesenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/JovenesenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://mujeresenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/MujeresenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://movimientociudadano.mx/movimientos/trabajadores-y-productores-en-movimiento">
            <img class="imagen-muestra-cara" src="../img/TrabajadoresyProductores-01.png" alt="">
          </a>
        </li>
      </ul>
    </aside>
  </section>
{% endblock %}
