{% extends 'layout.html' %}

{% block title %}
  Documentos Básicos
{% endblock %}

{% block content %}
  <section class="articulo-historia">
    <section class="articulos-contenido">
      <article class="contenido-historia doc-bas">
        <h2>
          DOCUMENTOS BÁSICOS
        </h2>
        <p class="reglamentos">

        Haz click sobre el título para visualizar y descargar el documento


        Adjunto
        </p>
        <p>
          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/03_estatutos_vigentes_final_-_publicacion.pdf">Estatutos</a>

          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/01_declaracion_de_principios_final_-publicacion.pdf">Declaración de principios</a>

          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/02_programa_de_accion_final_-publicacion.pdf">Programa de acción</a>
          

        </p>
      </article>
    </section>
    <aside class="opciones-sectores">
      <ul class="lista-sectores-historia">
        <li class="lista-items-historia titulo-historia-item">Movimientos</li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://diputadosciudadanos.mx">
            <img class="imagen-muestra-cara" src="../img/DiputadosCiudadanos-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://jovenesenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/JovenesenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://mujeresenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/MujeresenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://movimientociudadano.mx/movimientos/trabajadores-y-productores-en-movimiento">
            <img class="imagen-muestra-cara" src="../img/TrabajadoresyProductores-01.png" alt="">
          </a>
        </li>
      </ul>
    </aside>
  </section>
{% endblock %}