{% extends 'layout.html' %}

{% block title %}
  Login
{% endblock %}

{% block head %}
  {% parent %}
    <script>
      localStorage['lugar'] = 'Login';
    </script>
{% endblock %}

{% block content %}
  <section class="login-seccion">
    <form id="in-session" class="formulario-session">
      <input class="sessiones-user-pass" type="text" name="user" id="user" placeholder="Usuario">
      <input class="sessiones-user-pass" type="password" name="pass-user" id="pass-user" placeholder="Contraseña">
      <input type="submit" value="Iniciar" class="sessiones-boton">
      <span id="dato"></span>
    </form>
  </section>
{% endblock %}
