{% extends 'layout.html' %}

{% block title %}
  Organigrama
{% endblock %}

{% block content %}
  <section class="articulo-historia">
    <section class="articulos-contenido">
      <article class="contenido-historia">
        <h2>
          ORGANIGRAMA
        </h2>        
        <p  style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;"></p><iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/301002158/content?start_page=1&view_mode=scroll&show_recommendations=true" data-auto-height="false" data-aspect-ratio="undefined" scrolling="no" id="doc_88935" width="100%" height="600" frameborder="0"></iframe>
      </article>
    </section>
    <aside class="opciones-sectores">
      <ul class="lista-sectores-historia">
        <li class="lista-items-historia titulo-historia-item">Movimientos</li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://diputadosciudadanos.mx">
            <img class="imagen-muestra-cara" src="../img/DiputadosCiudadanos-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://jovenesenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/JovenesenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://mujeresenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/MujeresenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://movimientociudadano.mx/movimientos/trabajadores-y-productores-en-movimiento">
            <img class="imagen-muestra-cara" src="../img/TrabajadoresyProductores-01.png" alt="">
          </a>
        </li>
      </ul>
    </aside>
  </section>
{% endblock %}
