{% extends 'layout.html' %}

{% block title %}
  Reglamentos
{% endblock %}

{% block content %}
  <section class="articulo-historia">
    <section class="articulos-contenido">
      <article class="contenido-historia">
        <h2>
          REGLAMENTOS
        </h2>
        <p class="reglamentos">
          • Reglamento de Jóvenes en Movimiento
          • Reglamento de Mujeres en Movimiento
          • Reglamento de Trabajadores y Productores en Movimiento






          Adjunto

        </p>
        <p>Haz click sobre el título para visualizar y descargar el documento</p>
        <p>
          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/reglamento_transparencia_y_acceso_a_la_informacion.pdf">Reglamento de Transparencia y Acceso a la Información</a>
          
          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/reglamento_circulos_ciudadanos.pdf">Reglamento de Círculos Ciudadanos</a>
          
          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/reglamentoconsejociudadanonal-consejosciudadanosestatales.pdf">Reglamento del Consejo Ciudadano Nacional y de los Consejos Ciudadanos Estatales</a>

          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/reglamentoconvencionesyprocesosinternos.pdf">Reglamento de Convenciones y Procesos Internos</a>

          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/reglamentojusticiaintrapartidaria.pdf">Reglamento de Justicia Intrapartidaria</a>
          
          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/regla-movimientossocialesyorganizacionesdelasociedadcivil.pdf">Reglamento de los Movimientos Sociales y Organizaciones de la Sociedad Civil</a>
          
          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/regla-organizacionessectoriales.pdf">Reglamento para las Organizaciones Sectoriales</a>
          
          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/regla-participacionciudadana-reconocimientoalmerito.pdf">Reglamento para la Participación Ciudadana y Reconocimiento al Mérito</a>
          
          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/reglamento_de_organos_de_direccion_0.pdf">Reglamento de Órganos de Dirección</a>

          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/reglamento_de_coordinacion_nacional_de_autoridades_municipales.pdf">Reglamento de la Coordinación Nacional de Autoridades Municipales</a>

          <img src="../img/pdf.png"><a href="http://movimientociudadano.mx/sites/default/archivos/reglamento_de_administracion_y_finanzas.pdf">Reglamento de Administración y Finanzas</a>

        </p>
      </article>
    </section>
    <aside class="opciones-sectores">
      <ul class="lista-sectores-historia">
        <li class="lista-items-historia titulo-historia-item">Movimientos</li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://diputadosciudadanos.mx">
            <img class="imagen-muestra-cara" src="../img/DiputadosCiudadanos-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://jovenesenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/JovenesenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://mujeresenmovimiento.mx">
            <img class="imagen-muestra-cara" src="../img/MujeresenMovimiento-01.png" alt="">
          </a>
        </li>
        <li class="lista-items-historia">
          <a  target="_blik" href="http://movimientociudadano.mx/movimientos/trabajadores-y-productores-en-movimiento">
            <img class="imagen-muestra-cara" src="../img/TrabajadoresyProductores-01.png" alt="">
          </a>
        </li>
      </ul>
    </aside>
  </section>
{% endblock %}