{% extends 'layout.html' %}

{% block title %}
  Transparencia
{% endblock %}

{% block head %}
  {% parent %}
    <script>
      localStorage['lugar'] = 'transparencia';
    </script>
{% endblock %}

{% block content %}
  <section class="muestra-cuerpo-manejo">
    <aside class="lista-articulos-cambios">
      <div class="articulos-d">ARTÍCULO 10</div>
      <ul class="lista-articulos-at">
        <li class="item-articlulos-at" id="aw">A) Información Reservada</li>
        <li class="no-reflejo">
          B) Estructura Orgánica, Atribuciones, Marco Jurídico, Formatos, Trámites, Acuerdos y Convenios, Boletines Informativos
          <ul class="">
            <li class="item-articlulos-at item-sub-item" id="bw">Estructura Orgánica</li>
            <li class="item-articlulos-at item-sub-item" id="bw2">Atribuciones</li>
            <li class="item-articlulos-at item-sub-item" id="bw3">Marco Jurídico</li>
            <li class="item-articlulos-at item-sub-item" id="bw4">Formatos y Trámites</li>
            <li class="item-articlulos-at item-sub-item" id="bw5">Acuerdos y convenios</li>
            <li class="item-articlulos-at item-sub-item" id="bw6">Boletin Informativo</li>
          </ul>
        </li>
        <li class="item-articlulos-at" id="cw">C) Manuales, Metas y Objetivos e Indicadores de Gestión</li>
        <li class="item-articlulos-at" id="dw">D) Directorio de Servidores Públicos</li>
        <li class="item-articlulos-at" id="ew">E) Información General, Unidad de Acceso a la Información, y Solicitudes de Información Resueltas</li>
        <li class="item-articlulos-at" id="fw">F) Remuneracion Mensual Por Puesto</li>
        <li class="item-articlulos-at" id="gw">G) Información Presupuestal</li>
        <li class="item-articlulos-at" id="hw">H) Convocatorias, Contratos y Concesiones</li>
        <li class="item-articlulos-at" id="iw">I) Auditorias</li>
        <li class="item-articlulos-at" id="jw">J) Información de los Padrones de Beneficiarios de Programas Sociales</li>
        <li class="item-articlulos-at" id="kw">K) Participación Ciudadana</li>
        <li class="item-articlulos-at" id="lw">L) Ejecución Presupuestal</li>
        <li class="item-articlulos-at" id="mw">M) Estados Financieros</li>
        <li class="item-articlulos-at" id="nw">N) Ingresos</li>
        <li class="item-articlulos-at" id="ow">O) Acciones, Controversias o Juicios</li>
        <li class="item-articlulos-at" id="pw">P) Informe Anual de Actividades</li>
        <li class="item-articlulos-at" id="qw">Q) Agenda Pública</li>
        <li class="item-articlulos-at" id="rw">R) Cuentas Públicas Calificadas</li>
        <li class="item-articlulos-at" id="sw">S) Minutas para la Ejecución del Plan Estatal de Desarrollo</li>
        <li class="item-articlulos-at" id="tw">T) Información de Utilidad para el Ejercicio del Derecho de Acceso a la Información</li>
        <li class="item-articlulos-at art" id="ae12">Artículo 12</li>
        <li class="item-articlulos-at art" id="ae13">Artículo 13</li>
        <li class="item-articlulos-at art" id="ae14">Artículo 14</li>
      </ul>
    </aside>
    <div class="muestra-seccion-manejo" id="contenedor-lista-articulo">
      <img src="/img/letter1final.png" class="im-normal">
      <img src="/img/letter3final.png" class="im-cel">
    </div>
  </section>
{% endblock %}
